<!-- wp:template-part {"slug":"header"} /-->
<main class="home">
	<div class="wrapper">
		<!-- wp:template-part {"slug":"menu"} /-->

		<!-- wp:pattern { "slug": "testtheme/hero" } /-->


		<!--<section class="hero">-->
		<!--	<ul class="slideshow">-->
		<!--		<li>-->
		<!--			<input id="tout-0" type="radio" name="tout" checked />-->
		<!--			<article class="snippet">-->
		<!--				<header>-->
		<!--					<h1>-->
		<!--						Saturday 22nd June Visit from the-->
		<!--						Widows Sons-->
		<!--					</h1>-->
		<!--				</header>-->
		<!--				<picture>-->
		<!--					<img-->
		<!--						src="https://placehold.co/600x400/AAA/31344C"-->
		<!--						alt="blah blah blah"-->
		<!--					>-->
		<!--				</picture>-->
		<!--				<p>-->
		<!--					This here is some placeholder text. No need to read just-->
		<!--					glance and move on.-->
		<!--				</p>-->
		<!--			</article>-->
		<!--		</li>-->
		<!--		<li>-->
		<!--			<input id="tout-1" type="radio" name="tout" />-->
		<!--			<article class="snippet">-->
		<!--				<header>-->
		<!--					<h1>-->
		<!--						250th Anniversary Re-dedication 25th August 2018-->
		<!--					</h1>-->
		<!--				</header>-->
		<!--				<picture>-->
		<!--					<img-->
		<!--						src="https://placehold.co/600x400/AAA/31344C"-->
		<!--						alt="blah blah blah"-->
		<!--					>-->
		<!--				</picture>-->
		<!--			</article>-->
		<!--		</li>-->
		<!--	</ul>-->
		<!--	<menu class="paginator">-->
		<!--		<li>-->
		<!--			<label for="tout-0">1</label>-->
		<!--		</li>-->
		<!--		<li>-->
		<!--			<label for="tout-1">2</label>-->
		<!--		</li>-->
		<!--	</menu>-->
		<!--</section>-->
		<!--<hr />-->


		<!-- wp:pattern { "slug": "testtheme/functions" } /-->
		<!-- wp:pattern { "slug": "testtheme/meetings" } /-->
		<!-- wp:pattern { "slug": "testtheme/news" } /-->

		<section class="location">
			<header>
				<h3>
					The Hawick Lodge No. 111<br />
					Masonic Hall,<br />
					Commercial Road, Hawick.<br />
					TD9 7AD
				</h3>
			</header>
			<div id="map"></div>
			<script type="text/javascript">
				const LOCATION = [-2.785713, 55.427869];
				var map = new maplibregl.Map({
					container: 'map',
					style: "https://tiles.openfreemap.org/styles/liberty", // https://demotiles.maplibre.org/style.json
					center: LOCATION,
					zoom: 18
				});
				const marker = new maplibregl.Marker()
					.setLngLat(LOCATION)
					.addTo(map);
			</script>
		</section>
		<!--<section class="gallery">-->
		<!--	<ul class="slideshow">-->
		<!--		<li>-->
		<!---->
		<!--		</li>-->
		<!--	</ul>-->
		<!--</section>-->
	</div>
</main>
<!-- wp:template-part {"slug":"footer"} /-->
