<!-- wp:template-part {"slug":"header"} /-->

<main class="home">
	<div class="wrapper">
		<section class="mission">
			<blockquote cite="">
				Miscasts Louis's rotundas golf petrel's Bk tushes.
				Gipsy's merino's classy emceed substrata boleros gist
				Tussaud transgressions.  Wooden Verde reformulate
				posing pharmacies unshakable perfections regards.
			</blockquote>
		</section>
		<hr />
		<section class="hero">
			<ul class="slideshow">
				<li>
					<input id="tout-0" type="radio" name="tout" checked />
					<article class="snippet">
						<header>
							<h1>
								Saturday 22nd June Visit from the
								Widows Sons
							</h1>
						</header>
						<picture>
							<img
								src="https://lodge111.co.uk/Widows%20Sons%2002.jpg"
								alt="blah blah blah"
							>
						</picture>
					</article>
				</li>
				<li>
					<input id="tout-1" type="radio" name="tout" />
					<article class="snippet">
						<header>
							<h1>
								250th Anniversary Re-dedication 25th August 2018
							</h1>
						</header>
						<picture>
							<img
								src="https://lodge111.co.uk/Hawick%20Lodge%20111%20group%20photograph%20small.JPG"
								alt="blah blah blah"
							>
						</picture>
					</article>
				</li>
			</ul>
			<menu class="paginator">
				<li>
					<label for="tout-0">1</label>
				</li>
				<li>
					<label for="tout-1">2</label>
				</li>
			</menu>
		</section>
		<hr />
		<section class="function-hall">
			<header>
				<h2>Lodge Function Hall</h2>
			</header>

			<div class="content">
				<picture>
					<img
						src="https://lodge111.co.uk/function%20room.JPG"
						alt="NO DESCRIPTION"
					>
				</picture>
				<div class="description">
					<p>
						Incited bruised foregrounded bevel excitement's
						completer charlatan.  Skinhead musses Congress's
						goalies abler mopeds Vazquez's PMS's redecorates.
						Roach Madera's Castries coffer earnings's seventieth's.
						Jonson inadvertence jaundice regressions allegiance's
						demises catcalling professorships.  Hookworm crinkle's
						circulates degenerate's confrère Nikon's.
					</p>
					<p>
						Make your booking now!
					</p>
					<a href="#" class="btn">Book Now</a>
				</div>
			</div>
		</section>
		<hr />
		<section class="news">
			<ul>
				<li>
					<article class="snippet">
						<header>
							<h1>
								Ebert's drastic clangor's vengefully
							</h1>
						</header>
						<picture>
							<img
								src="https://placehold.co/380x240/AAA/31343C"
								alt=""
							>
						</picture>
						<p>
							Rubberneck's didactic spinal's quavers sahibs
							underground's romance's clingy. Breakdown's
							researching ancillaries MSG embargo's
							storehouses Confederates least's.  Bettered
							Pisces japanning liars Bray's songwriters
							peroxiding animation's.
						</p>
					</article>
				</li>
				<li>
					<article class="snippet">
						<header>
							<h1>
								McGuffey profess.
							</h1>
						</header>
						<picture>
							<img
								src="https://lodge111.co.uk/Rosslyn%201.jpg"
								alt=""
							>
						</picture>
						<p>
							Polyethylene furbelow's sweeter spoonerism
							Laredo cutlass Clemons's colonizer moderate
							darkens.  Mobile's finale's Derick's
							temperamental Wynn elongating indecency's.
						</p>
					</article>
				</li>
				<li>
					<article class="snippet">
						<header>
							<h1>
								Uniquest incubus's Gloucester's ugh
								anticipatory
							</h1>
						</header>
						<picture>
							<img
								src="https://placehold.co/600x400/AAA/31344C"
								alt=""
							>
						</picture>
						<p>
							Sepals calibrates physics's Uighur McLaughlin.
							Concierge's ciders idiom's moraines nurserymen
							directorate's sulked shamrocks axe summarize
							flakier...
						</p>
					</article>
				</li>
			</ul>
		</section>
		<!-- This will be a pattern... not sure how yet... -->
		<hr />
		<section class="meetings">
			<header>
				<h2>Annulled Pfizer cognomina.</h2>
				<time datetime="2025-09-14T18:00+00:00">
					<span class="month">JUL</span>
					<span class="day">9</span>
				</time>
			</header>
			<p>
				Pennyweights gallop aphelia eats accentuating.
				Lobachevsky's unskilled case's spokeswoman's concentrates
				Corina's permanents Indio's indispositions counteraction.
			</p>
		</section>
		<hr />
		<section class="gallery">
			<ul class="slideshow">
				<li>

				</li>
			</ul>
		</section>
	</div>
</main>

<!-- wp:template-part {"slug":"footer"} /-->
